.navLinks {
  display: flex;
  justify-content: center;
}
.navLinks .Lists {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: 3vw;
}
.Lists:hover {
  border-bottom: solid 3px white;
}

.active {
  background-color: #1976d2;
}
.MuiBox-root header {
  /* prevent popup notification color impact */
  background-color: #1976d2;
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* styles applied when screen width is at least 768 pixels */
}
