.userRegistrationForm {
  background-color: white;
  padding: 20px 30px;
  margin: 20px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

[name="submitButton"] {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#LinearProgress2 {
  display: none;
}
.changeOrNotPasswors {
  cursor: pointer;
  color: blue;
}
.TextFieldClass {
  margin: 10px 0;
}
