.userRegistrationForm {
  background-color: white;
  padding: 0 30px 20px 30px;
  margin: 20px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
}
.userRegistrationForm input {
  /* margin: 10px auto; */
  width: 250px;
  padding: 10px;
}
.userRegistrationSubmitBtn {
  margin: 20px 0;
}
#LinearProgress2 {
  display: none;
}
