* {
  padding: 0;
  margin: 0;
}
.helpContainer {
  display: flex;
  width: 100%;
}
.LeftHelpContainer {
  width: 20%;
  display: flex;
  background-color: white;
  height: 100vh;
}
.LeftHelpContainer li:nth-child(3) {
  border-radius: 5px;
  background: #6998ff;
  color: #fff;
  font-family: "Manrope";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.helpMiddelContainer {
  width: 80%;
  text-align: center;
}
.helpContainer h1,
h3 {
  text-align: center;
}
.helpUL {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.helpUL li {
  cursor: pointer;
  width: 200px;
  background-color: white;
  padding: 20px;
  margin: 10px;
}
.backButton {
  background-color: green;
  border: none;
  padding: 10px;
  margin: 10px auto;
  color: white;
  border-radius: 10px;
}
.helpContact {
  list-style: none;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.helpContact li {
  padding: 5px;
  margin: 5px;
}
