.form-add-cost {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
}

.form-add-cost button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  border-radius: 0 auto;
  border-radius: 10px;
  cursor: pointer;
}
.dates {
  width: 100%;
}
.titleToRegistrationForm {
  padding-top: 10px;
}
