.form-add-cost {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
}

.form-add-cost button {
  margin: 5px;
}
.dates {
  width: 100%;
}
.titleToRegistrationForm {
  padding-top: 10px;
  width: fit-content;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .titleToRegistrationForm,
  .form-add-cost {
    margin: 0;
  }
}
