.costTransactionForm {
  background-color: white;
  margin: 0 auto;
}
.formInputToTransaction {
  padding: 5px;
  max-width: 300px;
  margin: 10px auto;
}
/* .costTransactionForm button {
  display: block;
  margin: auto; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
} */

.dateDiv {
  text-align: center;
}
