.costTransactionForm {
  background-color: white;
  /* padding: 10px; */
  /* width: 300px; */
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
}

.formInputToTransaction {
  padding: 5px;
  width: 300px;
  margin: 10px auto;
}
/* .costTransactionForm button {
  display: block;
  margin: auto; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
} */

.dateDiv {
  text-align: center;
}
