.registrationFormToproducts {
  padding: 20px 0;
}
.registerProducts {
  margin: 5px 0;
}
#registerProductsForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  background-color: white;
  padding: 50px;
}
.registerProducts {
  margin: 10px;
}
