.totalOrsingleSales {
  text-decoration: none;
  color: black;
}
.selectSalesMenue {
  width: 300px;
}
.addSalesWrapper {
  background-color: white;
  padding: 20px 0;
  /* max-width: 500px; */
  margin: auto;
  text-align: start;
  padding-left: 30px;
}
