.addTransaction {
  display: flex;
  justify-content: center;
}
.addTransaction button {
  border: none;
  background-color: white;
  /* color: #6998ff; */
  font-size: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px 20px;
  border-radius: 10px;
  padding: 2px 10px;
}

.addTransaction button:hover {
  color: #6998ff;
}
.activeClass {
  border-bottom: 3px solid #6998ff !important;
}
.addTransactionWrapper {
  /* background-color: white; */
}
