.tableWrapper {
  max-width: 800px;
  min-width: 600px;
  overflow-x: scroll;
  margin: auto;
}

.maxSelectionForm {
  max-width: 300px;
  margin: 10px auto;
  padding: 20px 10px;
  background-color: white;
}
#selectTimeRange {
  width: 150px;
  padding: 16px !important;
}
.othersDateRange {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.maxSelectionForm select {
  width: 100%;
  max-width: 200px;
}
