.openBusinesswrapper {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.openBusinessHeader {
  position: fixed;
  width: 100%;
  background-color: white;
}
.registerViewSearch {
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}
.registerViewSearch .openBusinessTab {
  color: white;
  border: 0px;
  padding: 10px 6px;
  margin: 0 3px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.openBusinessTab:hover {
  background-color: rgb(172, 172, 223);
}
#dateId {
  margin: 10px auto;
  display: block;
}
.activeLink {
  background-color: black;
}
table {
  width: fit-content;
  margin: auto;
}

.welcomeInfo {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
/* word wrap, formatter(prettier then tic tic), preview (untick work bench) */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  color: black;
}
.LinearProgress {
  margin: 5px 0;
  display: none;
}
.businessInfoWrapper {
  width: 100%;
  overflow: scroll;
  height: 95vh;
}
.MainWrapper {
  display: flex;
}
.leftSideDiv {
  background-color: white;
  width: 20vw;
  min-width: fit-content;
  margin-right: 1vw;
  display: none;
}
.middeleSideDiv {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .leftSideDiv {
    display: block;
  }
  .middeleSideDiv {
    max-width: 600px;
  }
}
